<template name="contact">
<div class="contact-widget">
<h3>Отправить сообщение </h3>
  <form id="contact-form" name="contact">
    <div class="text-input">
      <div class="float-input form-group">
        <input id="name" name="name" type="text" placeholder="Имя" class="form-control"/><span><i class="fa fa-user"></i></span>
      </div>
      <div class="float-input2 form-group">
        <input id="mail" name="mail" type="text" placeholder="E-mail" class="form-control"/><span><i class="fa fa-envelope"></i></span>
      </div>
    </div>
    <div class="textarea-input form-group">
      <textarea id="comment" name="comment" placeholder="Сообщение" class="form-control"></textarea><span><i class="fa fa-comment"></i></span>
    </div>
    <div id="msg" class="message"></div>
    <input id="submit_contact" type="submit" value="Отправить"/>
  </form>
</div>
</template>