<template name="pageDetail">
    <div class="container-main">
        <div class="container-fluid pdp-container">
          {{!-- Page Visibility Admin Block --}}
          {{#if hasPermission "createPage"}}
              <div class="row">
                  <span data-i18n="pageDetail.pageManagement">Page management:</span>
                {{#if isVisible}}
                    <a href="#" class="toggle-page-isVisible-link" data-i18n="pageDetail.makeInvisible">Make
                        invisible</a> |
                {{/if}}
                {{#if hasAdminAccess}}
                    <a href="#" class="delete-page-link" data-i18n="app.delete">Delete</a>
                {{/if}}
              </div>
            {{#unless isVisible}}
                <div class="row">
                    <div class="alert alert-warning">
                        <span data-i18n="pageDetail.isNotVisible">This page is not visible to customers.</span>
                        <a href="#" class="toggle-page-isVisible-link" data-i18n="pageDetail.makeItVisible">You can make
                            it visible</a>
                        <span data-i18n="pageDetail.whenYouAreDone">when you're done editing.</span>
                    </div>
                    <span id="page-management-alerts">{{>bootstrapAlerts placement="pageManagement"}}</span>
                </div>
            {{/unless}}
              <h3 id="handle">{{>fieldComponent field="handle" value=handle}}</h3>
          {{/if}}
          {{!-- END Page Visibility Admin Block --}}
            <!-- Page Detail Page -->
            <div class="row">
                <!-- Titles -->
                <div class="row">
                    <div class="title">
                        <h1 id="title">{{>fieldComponent field="title" value=title}}</h1>
                    </div>
                    <div class="pageTitle">
                        <h2 id="pageTitle">{{>fieldComponent field="pageTitle" value=pageTitle}}</h2>
                    </div>
                </div>
                <!-- Page Details -->
                <div class="row">
                    <!-- BEGIN Right Side -->
                    <div>
                        <div class="row col-md-11">
                          {{!-- Description --}}
                            <div class="row">
                              {{>fieldComponent field="content" value=content type="textarea"}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>


<template name="singlePage">
    <div class="row">
      {{> contentComponent}}
    </div>
</template>

<template name="singlePageShow">
    <div class="col-md-4">
      {{> tagMenu topLevelTags}}
    </div>
    <div id="showingPage" class="col-md-8">
      {{{content}}}

      {{#if isContact}}
          <div class="col-md-11">
            {{> contact}}
          </div>
      {{/if}}
    </div>
</template>

<template name="singlePageEdit">
    <div>
        <input id="{{titleId}}" value="{{title}}"/>
        <input id="{{pageTitleId}}" value="{{pageTitle}}"/>
        <label>Позиция</label><input id="{{positionId}}" value="{{position}}"/>
    </div>
    <div>
        <span>Управление страницами:</span>
        <a href="#" class="save-page-link">Сохранить</a>
        <a href="#" class="delete-page-link">Удалить</a>
    </div>
    <div id="singlePageEdit" class="row">
        <textarea rows="30" class="singlePageContentEditField" style="width: 100%;"
                  id="{{contentId}}">{{content}}</textarea>
    </div>
</template>

<template name="singlePageCreate">
    <div>
        <a href="#" class="create-page-link">Создать</a>
        <span> новую страницу</span>
    </div>
</template>
