<template name="flatPagesSettings">
  {{#autoForm collection="Page" id="singlePageCreate" class="col-sm-6" type="insert"}}
    {{>afQuickField name="handle" label-class="col-sm-3" input-col-class="col-sm-3"}}
      <button type="submit" class="col-sm-3" id="singlePageCreateBtn">Insert</button>
  {{/autoForm}}
    <hr/>
  {{#each this}}
      <div class="col-sm-9">
        {{route}}
        {{#autoForm collection="Page" doc=this id=_id type="remove"}}
            <button type="submit" class="col-sm-3" id="{{_id}}-btn">delete</button>
        {{/autoForm}}
          <a href="{{pathFor 'page' route=route}}">edit</a>
      </div>
  {{/each}}
</template>
